@use 'sass:map';

/** 暗色主题主色调 */
$color-primary: #e2e8f1;
$color-secondary: #27272a;
$color-danger: #7f1d1d;

/** 暗色主题前景色 */
$foreground-color: () !default;
$foreground-color: map.merge(
    (
        'primary': #18181b,
        'secondary': #fafafa,
        'danger': #fef2f2
    ),
    $foreground-color
);

/** 暗色主题背景色 */
$bg-color: () !default;
$bg-color: map.merge(
    (
        '': #141414
    ),
    $bg-color
);

/** 暗色主题文本色 */
$text-color: () !default;
$text-color: map.merge(
    (
        'primary': #f2f2f2,
        'regular': #d9d9d9
    ),
    $text-color
);

/** 暗色主题边框色 */
$border-color: () !default;
$border-color: map.merge(
    (
        '': #4a4a4a
    ),
    $border-color
);

/** 暗色主题填充色 */
$fill-color: () !default;
$fill-color: map.merge(
    (
        '': #333333,
        'blank': transparent
    ),
    $fill-color
);
