@use 'config' as *;

@forward 'config';
@forward 'function';
@forward 'var';

/** BEM Block */
@mixin b($block) {
    $B: $namespace + $common-separator + $block !global;
    .#{$B} {
        @content;
    }
}

/** BEM Element */
@mixin e($element) {
    $selector: &;
    $currentSelector: '';
    @each $unit in $element {
        $currentSelector: #{$currentSelector +
            '.' +
            $B +
            $element-separator +
            $unit +
            ','};
    }

    @at-root {
        #{$currentSelector} {
            @content;
        }
    }
}

/** BEM Modifier */
@mixin m($modifier) {
    $selector: &;
    $currentSelector: '';
    @each $unit in $modifier {
        $currentSelector: #{$currentSelector +
            $selector +
            $modifier-separator +
            $unit +
            ','};
    }

    @at-root {
        #{$currentSelector} {
            @content;
        }
    }
}

/** 状态类 */
@mixin when($state) {
    @at-root {
        &.#{$state-prefix + $state} {
            @content;
        }
    }
}

/** 暗色主题作用域 */
@mixin dark($block) {
    html.dark {
        @include b($block) {
            @content;
        }
    }
}
