@use 'sass:map';
@use 'function' as *;

/** 设置单个 CSS 变量 */
@mixin set-css-var-value($name, $value) {
    #{joinVarName($name)}: #{$value};
}

/** 批量设置组件 CSS 变量 */
@mixin set-component-css-var($name, $variables) {
    @each $attribute, $value in $variables {
        @if $attribute == '' {
            #{getCssVarName($name)}: #{$value};
        } @else {
            #{getCssVarName($name, $attribute)}: #{$value};
        }
    }
}

