// 引入 `sass:map` 模块，用于合并变量
@use 'sass:map';

/** 基础色 */
// `colors` 表示声明变量，值为空对象。
// `!default` 表示默认值，如果变量未定义，则使用默认值。即如果之前已经有人定义过 $colors，那就别覆盖；如果没有，才用这个。
$colors: () !default;
// `map.merge` 表示合并变量，第一个参数是设置的默认值，第二个参数就是用户传入的值变量。类似 Object.assign 。
$colors: map.merge(
    (
        'white': #ffffff,
        'black': #000000,
        'primary': #171717,
        'secondary': #f4f4f5,
        'danger': #ef4444
    ),
    $colors
);

/** 前景色（用于按钮等组件的文字颜色，与背景色形成对比） */
$foreground-color: () !default;
$foreground-color: map.merge(
    (
        'primary': #ffffff,
        'secondary': #27272a,
        'danger': #ffffff
    ),
    $foreground-color
);

/**
因此上面的整段代码表示：
- !default：允许外部提前注入
- map.merge：在保留默认值的同时，允许用户精细覆盖
- 最终实现一个可扩展、可覆盖、可维护的主题色系统
  */

/** 文本色 */
$text-color: () !default;
$text-color: map.merge(
    (
        'primary': #303133,
        'regular': #606266
    ),
    $text-color
);

/** 背景色 */
$bg-color: () !default;
$bg-color: map.merge(
    (
        '': #ffffff
    ),
    $bg-color
);

/** 边框色 */
$border-color: () !default;
$border-color: map.merge(
    (
        '': #dcdfe6
    ),
    $border-color
);

/** 填充色 */
$fill-color: () !default;
$fill-color: map.merge(
    (
        '': #f0f2f5,
        'blank': #ffffff
    ),
    $fill-color
);

/** 字体大小 */
$font-size: () !default;
$font-size: map.merge(
    (
        'default': 14px,
        'small': 12px,
        'large': 16px
    ),
    $font-size
);

/** 圆角 */
$border-radius: () !default;
$border-radius: map.merge(
    (
        'base': 4px,
        'small': 2px
    ),
    $border-radius
);

/** 组件尺寸 */
$component-size: () !default;
$component-size: map.merge(
    (
        'large': 40px,
        'default': 32px,
        'small': 24px
    ),
    $component-size
);
