@use 'sass:map';

/** 基础色 */
$colors: () !default;
$colors: map.merge(
    (
        'white': #ffffff,
        'black': #000000,
        'primary': #171717
    ),
    $colors
);

/** 文本色 */
$text-color: () !default;
$text-color: map.merge(
    (
        'primary': #303133,
        'regular': #606266
    ),
    $text-color
);

/** 背景色 */
$bg-color: () !default;
$bg-color: map.merge(
    (
        '': #ffffff
    ),
    $bg-color
);

/** 边框色 */
$border-color: () !default;
$border-color: map.merge(
    (
        '': #dcdfe6
    ),
    $border-color
);

/** 填充色 */
$fill-color: () !default;
$fill-color: map.merge(
    (
        '': #f0f2f5,
        'blank': #ffffff
    ),
    $fill-color
);

/** 字体大小 */
$font-size: () !default;
$font-size: map.merge(
    (
        'default': 14px,
        'small': 12px,
        'large': 16px
    ),
    $font-size
);

/** 圆角 */
$border-radius: () !default;
$border-radius: map.merge(
    (
        'base': 4px,
        'small': 2px
    ),
    $border-radius
);

/** 组件尺寸 */
$component-size: () !default;
$component-size: map.merge(
    (
        'large': 40px,
        'default': 32px,
        'small': 24px
    ),
    $component-size
);
